* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.purple {
  color: hsl(259, 100%, 65%)
}
.bg-purple {
  background-color: hsl(259, 100%, 65%);
}


body {
  padding: 50px;
  background: hsl(0, 0%, 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}


main {
  border-radius: 20px 20px 250px 20px;
  max-width: 900px;
  background: white;
  padding: 50px;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}


.inputs form {
  position: relative;
  display: flex;
  gap: 70px;
}

.inputs {
  border-bottom: 1px hsl(0, 0%, 86%) solid;
  padding-bottom: 40px;
}
.result {
  font-size: 5rem;
  padding-top: 40px;
  @media screen and (max-width: 900px) {
    font-size: 3rem;
  }
}

label {
  width: 150px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  position: relative;
  @media screen and (max-width: 900px) {
    height: 50px;
  }
  input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 32px;
    border: none;
    outline: 1px hsl(0, 0%, 86%) solid;
    margin-top: 5px;
    @media screen and (max-width: 900px) {
      font-size: 20px;
    }
    &:focus {
      outline-color: hsl(259, 100%, 65%)
    }
  }
}


.circle.bg-purple {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  border: none;
  bottom: -40px;
  right: 0;
  transform: translateY(50%);
  transition: background .5s ease;
  @media screen and (max-width: 900px) {
    right: 50%;
    bottom: -40px;
    transform: translate(50%, 50%);
  }
  &:hover {
    cursor: pointer;
    background: black;
    transition: background .5s ease;
  }
  svg {
    scale: .5;
  }
}
.errorMessage {
  position: absolute;
  bottom: -10px;
  left: 5px;
  height: 20px;
  color: hsl(0, 100%, 67%);
  font-size: 8px;
  transition: opacity .5s ease;
  opacity: 1;
  &.dateError {
    bottom: -30px;
    left: 0;
    font-size: 12px;

  }
}